In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
train_data.head()
test_ids = test_data["PassengerId"]
#test_data.head()

def clean(train_data):
    train_data = train_data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis=1)
    
    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        train_data[col].fillna(train_data[col].median())

    train_data.Embarked.fillna("U")
    return train_data

train_data = clean(train_data)
test_data = clean(test_data)
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [3]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

cols = ["Sex", "Embarked"]

for col in cols:
    train_data[col] = le.fit_transform(train_data[col])
    test_data[col] = le.transform(test_data[col])
    print(le.classes_)

train_data.head(5)

['female' 'male']
['C' 'Q' 'S' nan]

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [4]:
def check_missing_values(data, dataset_name):
    missing_values = data.isnull().sum()  # Soma de valores ausentes por coluna
    total_missing = missing_values.sum()  # Soma total de valores ausentes
    if total_missing > 0:
        print(f"Conjunto {dataset_name} possui {total_missing} valores ausentes.")
        print("Valores ausentes por coluna:")
        print(missing_values[missing_values > 0])  # Exibir apenas colunas com valores ausentes
    else:
        print(f"Conjunto {dataset_name} não possui valores ausentes.")

check_missing_values(train_data, "train_data")
check_missing_values(test_data, "test_data")

Conjunto train_data possui 177 valores ausentes.
Valores ausentes por coluna:
Age    177
dtype: int64
Conjunto test_data possui 87 valores ausentes.
Valores ausentes por coluna:
Age     86
Fare     1
dtype: int64

In [5]:
# Calcular a média de "Fare" no test_data
fare_mean = test_data["Fare"].mean()

# Imputar valores ausentes em "Fare" com a média
test_data["Fare"] = test_data["Fare"].fillna(fare_mean)
# Calcular a média de "Age" nos conjuntos de dados
age_mean_train = train_data["Age"].mean()
age_mean_test = test_data["Age"].mean()

# Imputar valores ausentes em "Age" com a média
train_data["Age"] = train_data["Age"].fillna(age_mean_train)
test_data["Age"] = test_data["Age"].fillna(age_mean_test)

# Verificar se os valores ausentes foram tratados
print("Valores ausentes em train_data:")
print(train_data.isnull().sum())

print("\nValores ausentes em test_data:")
print(test_data.isnull().sum())

Valores ausentes em train_data:
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

Valores ausentes em test_data:
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = train_data["Survived"]
X = train_data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

In [8]:
predictions = clf.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.8100558659217877

In [9]:
submission_preds = clf.predict(test_data)

# Agora, ambos têm o mesmo comprimento
df = pd.DataFrame({
    "PassengerId": test_ids.values,
    "Survived": submission_preds
})

df.to_csv("submission.csv", index=False)


import os
print(os.getcwd())  # Mostra o diretório atual
print("Arquivo salvo como submission.csv")

/kaggle/working
Arquivo salvo como submission.csv